.page-container {
    padding: 50px, 50px;
}

.inner-container{
    padding: 50px, 50px;
}

h2{
    color: rgb(0, 0, 0);
    text-align: left;
    border: none;
    margin: 8px 10px;
    margin-top: 15px;
    width: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

input, select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 5px;
    margin: 8px 0;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    width: 10%;
}

.input-group-text{
    background-color: #bfc4c2;
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    width: 20%;
    outline: #575757;
    font-family: Arial, Helvetica, sans-serif;
}

.myactivity{
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    margin-top: 35px;
    margin-top: 50px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    background-color: #d1d1d1;
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 90%;
    outline: #575757;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    /* background-color: #bfc4c2; */
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    max-width: 0px;
    outline: #575757;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    /* background-color: #bfc4c2; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    max-width: 0px;
    outline: #575757;
    font-family: Arial, Helvetica, sans-serif;
}

tr:hover {background-color: rgb(199, 199, 199);}

.yourimpact{
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    margin-top: 35px;
    margin-top: 15px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle{
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.history{
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 26px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.total{
    margin-left: 50px;
    color: rgb(124, 124, 124);
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.reduced{
    color: rgb(124, 124, 124);
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.produced{
    color: rgb(124, 124, 124);
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.blue{
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.red{
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}