.page-container {
    padding: 50px, 50px;
}

.inner-container{
    padding: 50px, 50px;
}

h2{
    color: rgb(0, 0, 0);
    text-align: left;
    border: none;
    margin: 8px 10px;
    margin-top: 15px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

/* input, select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 15px;
} */

.add {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
    border: 3px solid;
    border-color: #04AA6D;
    padding: 10px 5px;
    margin: 8px 0;
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
    width: 10%;
    border-radius: 10px;
    transition: 200ms;
}

.add:hover {
    background-color: #ffffff;
    border: 3px solid; 
    border-color: #04AA6D;;
    color: rgb(0, 0, 0);
    padding: 10px 5px;
    margin: 8px 0;
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
    width: 10%;
    border-radius: 10px;
    transition: 200ms;
}

.input-group-text{
    background-color: #bfc4c2;
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    width: 20%;
    outline: #575757;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.myactivity{
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    margin-top: 35px;
    margin-top: 50px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    background-color: #d1d1d1;
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 90%;
    outline: #575757;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    /* background-color: #bfc4c2; */
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(49, 49, 49);
    border: none;
    max-width: 0px;
    outline: #646464;
    font-family: Arial, Helvetica, sans-serif;
}

.firstRow {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    /* background-color: #bfc4c2; */
    color: rgb(0, 0, 0);
    /* background-color: rgb(40, 206, 62); */
    font-weight: bold;
    text-align: left;
    padding: 5px 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    max-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

td:hover {background-color: rgb(199, 199, 199);}

.yourimpact{
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    margin-top: 35px;
    margin-top: 15px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle{
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.history{
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 26px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.total{
    margin-left: 25px;
    color: rgb(124, 124, 124);
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.reduced{
    color: rgb(124, 124, 124);
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.produced{
    color: rgb(124, 124, 124);
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.blue{
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.red{
    text-align: center;
    border: none;
    margin-top: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.intro{
    color: rgb(0, 0, 0);
    text-align: center;
    border: none;
    margin-top: 5px;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 20px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    width: 95%;
    /* min-height: calc(100vh - 3.5rem); */
    /* height: 100%; */
    box-sizing: border-box;
    background: white;
    padding: 50px 50px;
    border-radius: 20px;
}

.input-group{
    width:40%;
    margin-right: 30%;
    margin-left: 30%;
}

.form-select{
    background-color: #76a6f0;
    border: 2px solid #a143df;
    outline: #a143df;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.form-select option{
    background-color: #f1f1f1;
}
.form-select option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }