
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(145, 145, 145);
  transition: 150ms ease-in;
  font-size: 24px;
  text-align: center;
  padding: 14px 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(231, 231, 231);
}

.active {
  background-color: #04AA6D;
}

.logout{
  color: red;
  float: right;
}
